@font-face {
	font-family: 'Neue Helvetica Extended Thin Oblique';
	src: url(../../assets/fonts/Helvetica%20Neue%20LT%2033%20Thin%20Extended%20Oblique.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}