@font-face {
	font-family: 'Neue Helvetica Condensed Thin Oblique';
	src: url(../../assets/fonts/Helvetica%20Neue%20LT%2037%20Thin%20Condensed%20Oblique.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}