@font-face {
	font-family: 'Neue Helvetica Extended Light';
	src: url(../../assets/fonts/Helvetica%20Neue%20LT%2043%20Light%20Extended.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}