@font-face {
	font-family: 'Neue Helvetica Extended Black Oblique';
	src: url(../../assets/fonts/Helvetica%20Neue%20LT%2093%20Black%20Extended%20Oblique.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}