@font-face {
	font-family: 'Neue Helvetica Condensed Black';
	src: url(../../assets/fonts/Helvetica%20Neue%20LT%2097%20Black%20Condensed.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}