@font-face {
	font-family: 'Neue Helvetica Condensed Light';
	src: url(../../assets/fonts/Helvetica%20Neue%20LT%2047%20Light%20Condensed.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}