@font-face {
	font-family: 'Neue Helvetica Extended Medium';
	src: url(../../assets/fonts/Helvetica%20Neue%20LT%2063%20Medium%20Extended.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}