@font-face {
	font-family: 'Neue Helvetica Condensed Medium Oblique';
	src: url(../../assets/fonts/Helvetica%20Neue%20LT%2067%20Medium%20Condensed%20Oblique.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}