@font-face {
	font-family: 'Neue Helvetica Extended Heavy Oblique';
	src: url(../../assets/fonts/Helvetica%20Neue%20LT%2083%20Heavy%20Extended%20Oblique.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}